@charset "utf-8";

body.sb-show-main {
  .sb-show-root {
    @import 'bulma/bulma.sass';

    text-align: center;

    button {
      font-weight: 600;
    }

    > .banner-container {
      width: 400px;
      height: 200px;
      margin: auto;
      border-radius: 6px;
      overflow: hidden;

      > .banner-list {
        white-space: nowrap;

        > .banner-item {
          display: inline-block;
          width: 400px;
          height: 200px;
          line-height: 200px;
          font-weight: 600;
          font-size: 2.4rem;
          color: #ffffff;
        }
      }
    }

    > .progress-container {
      width: 60%;
      margin: auto;
    }

    > .rect-container {
      > .rect {
        width: 100px;
        height: 100px;
        margin: auto;
        border-radius: 10%;
      }
    }
  }
}
